{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    ["lodash", { "id": "recompact" }],
    "transform-async-to-promises",
    "@babel/plugin-transform-react-display-name",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ],
  "env": {
    "production": {
      "plugins": [
        "@babel/plugin-transform-flow-strip-types",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
