// primary palette
$c-bittersweet: #ff6666;
$c-midnight-blue: #003366;
$c-mine-shaft: #333333;
$c-boulder: #7a7a7a;

// secondary palette
$c-desert-storm: #fcfcfb;
$c-silver-chalice: #b2b2b2;
$c-quill-gray: #e4e4e3;
$c-silver: #c7c7c7;
$c-dusty-gray: #969696;

// inform palette
$c-buddha-gold: #a8ad00;
$c-tangerine: #ed8b00;

// 5% of inform palette - backgrounds of messages
$c-ecru-white: #fafaf2; // 5% of buddha-gold
$c-provincial-pink: #fef8f2; // 5% of tangerine
$c-rose-white: #fff7f7; // 5% of bittersweet

// promo palette
$c-picton-blue: #41b6e6;
$c-clairvoyant: #470a68;
$c-fresh-eggplant: #830065;

// button states
$c-biscay: #1c3866;
$c-lynch: #627593;
$c-bunting: #152846;
$c-geyser: #dde1e8;
$c-athens-gray: #eef0f3;

// out of styleguide, will be deleted after changing the design
$c-white: #ffffff;
$c-dirty-white: #f6f6f5;
$c-cornflower-blue: #4f73b2;
$c-azure: #2e6da4;
$c-astral: #337ab7;

$c-success: $c-buddha-gold;
$c-danger: $c-bittersweet;

$c-text-primary-color: $c-midnight-blue;

$c-body-color: $c-midnight-blue;

$c-form-block-border: $c-quill-gray;
$c-form-label-color: $c-dusty-gray;

$c-input-placeholder: $c-dusty-gray;
