$header-height: 50px;
$wizard-steps-height: 50px;
$wizard-steps-height-mobile: 100px;

$min-mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 992px;
$hi-res-width: 1170px;

$cursor-disabled: not-allowed;
$input-height: 40px;
