@import "./references/references";

.modal {
  $c-modal-bg: $c-desert-storm;
  $c-modal-shadow: $c-boulder;
  $c-modal-close-color: $c-midnight-blue;
  $c-modal-text: $c-mine-shaft;
  $c-close-hover: $c-lynch;


  font-family: sans-serif;
  outline: 0;

  * {
    font-family: inherit;
  }

  .modal-content {
    position: relative; // to position close button
    background-color: $c-modal-bg;
    box-shadow: 0 3px 9px $c-modal-shadow;
    outline: 0;
    background-clip: padding-box;
    padding: 40px;
    pointer-events: auto;
    width: auto;
    min-width: $min-mobile-width;

    @media (min-width: $tablet-width) {
      box-shadow: 0 5px 15px $c-modal-shadow;
    }
  }

  .modal-header {
    color: $c-modal-text;
  }

  .modal-title {
    color: $c-modal-text;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    text-align: center;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: $c-modal-close-color;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: none;
    border: 0;
    float: right;
    font-size: 34px;
    font-weight: 200;
    line-height: 1em;

    &:focus {
      outline: 0;
    }

    &:hover {
      color: $c-close-hover;
    }
  }

  .modal-body {
    padding: 40px 0;
    color: $c-modal-text;
    text-align: center;

    p {
      margin: 0;
      text-align: center;
    }
  }

  .modal-footer {
    display: flex;
    justify-content: space-around;

    .btn {
      box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
      margin: 5px 0;
      min-width: 5.5em;
    }
  }
}

.modal-info {
  font-size: 16px;

  @media (min-width: $tablet-width) {
    max-width: 450px;
  }

  .modal-body {
    max-width: 400px;
    text-align: center;
  }
}

.modal-error {

  .modal-title {
    margin-bottom: 15px;
    color: #ffffff;
  }

  .modal-content {
    background: #ff0000;
    color: #ffffff;
    padding: 15px;
  }

  .modal-body {
    padding: 0;
  }
}

.modal-custom {
  max-height: 100%; // necessary for IE11

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  .buttons-group {

    .btn {
      width: 100%;
      margin: 5px 0;
    }
  }
}

.modal-show {

  &-appear {
    opacity: .01;
    transform: scale(.5);

    &.modal-show-appear-active {
      opacity: 1;
      transform: scale(1);
      transition: all 300ms ease-out;
    }
  }

  &-exit {
    opacity: 1;
    transform: scale(1);

    &.modal-show-exit-active {
      opacity: .01;
      transform: scale(.5);
      transition: all 300ms ease-out;
    }
  }
}

.ReactModal__Overlay {
  z-index: 999;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 300ms ease-out;

  @media (min-width: $tablet-width) {
    align-items: center;
  }

  &--after-open {
    background-color: rgba(255, 255, 255, .75);
  }

  &--before-close {
    background-color: rgba(255, 255, 255, 0);
  }
}

.ReactModal__Body--open {
  overflow-y: hidden;
}
