@import "../utils/index";

.rmb-modal-error {

  .rmb-modal-title {
    margin-bottom: 15px;
    color: $c-white;
  }

  .rmb-modal-content {
    background-color: $c-bittersweet;
    color: $c-white;
    padding: 15px;
  }

  .rmb-modal-body {
    padding: 0;
  }
}
