@import "../utils/index";

.rmb-modal-custom {
  max-height: 100%; // necessary for IE11

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  .rmb-buttons-group {

    .rmb-btn {
      width: 100%;
      margin: 5px 0;
    }
  }
}
