$c-midnight-blue: #003366;
$c-mine-shaft: #333333;
$c-boulder: #7a7a7a;
$c-desert-storm: #fcfcfb;
$c-biscay: #1c3866;
$c-lynch: #627593;
$c-bunting: #152846;
$c-geyser: #dde1e8;
$c-athens-gray: #eef0f3;
$c-white: #ffffff;
$c-bittersweet: #ff6666;
